# Dependencies
node_modules/
**/node_modules/

# Build & Framework outputs
dist/
.output/
.nuxt/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & System
.DS_Store
.vscode/
.idea/
